<%- include('../partials/header', { title: "success-message" }) %>

<main class="content">
  <div class="simple-404-container">
    <h3>Candidate Removed Successfully</h3>
    <p>
      The selected candidate has been permanently removed from the system and
      will no longer appear in election listings or participate in upcoming
      elections.
    </p>
    <a href="/admin/dashboard" class="back-home-btn">Return to Dashboard</a>
  </div>
</main>
<%- include('../partials/footer') %>
